{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
    <ul>
        {% for project in projects %}
            <li>
                <a href="project/{{ project.id }}">
                    {{ project.path_with_namespace }}
                </a>
                <br/>
                <a href="{{ project.web_url }}">
                <i> {{ project.web_url }} <span class="glyphicon glyphicon-new-window"></span></i></a>
                </br>
                <small> {{ project.description }} </small>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}