{% extends "base.html" %}
{% block title %}Pipeline {{ pipeline.id }} - {{ pipeline.pipeline.ref|e }} {% endblock %}

{% block breadcrumb %}
<li><a href="/project/{{ project.id }}">{{ project.path_with_namespace }}</a></li>
<li>{{ pipeline.id }}</li>
{% endblock %}

{% block content %}
    <h1>
        Pipeline {{ pipeline.id }}
    </h1>
    <a href="{{ pipeline.pipeline.web_url }}" target="_new">
        <i>
        {{ pipeline.pipeline.web_url }} <span class="glyphicon glyphicon-new-window"></span>
        </i>
    </a>

    <table class="table table-condensed">
        <tr><th>Project:</th><td><a href="/project/{{project.id}}">{{ project.name }}</a></td></tr>
        <tr><th>Ref:</th><td>{{ pipeline.pipeline.ref|e }} - {{ pipeline.pipeline.sha|e }} </td></tr>
        <tr><th>Status:</th><td>{{ pipeline.pipeline.status|e }} - {{ (pipeline.since_created() / 60) |round|int }} mins total </td></tr>
        <tr><th>Created:</th><td>{{ pipeline.pipeline.created_at|e }}</td></tr>
    </table>

    <table class="table">
        <tr>
            {% for stage in pipeline.stages %}
            <td style="width:{{ 100 / pipeline.stages|length }}%">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ stage.name|e }} - ({{ (stage.since_ready() / 60)|round|int}} mins) </div>
                    <div class="panel-body">

                    {% for job in stage.jobs %}
                        <div style="white-space:nowrap">
                            <a href="{{job.job.web_url}}" target="_new">{{ job.name()|e }}</a>
                            <br/>
                            <span class="{{ job.if_status_return("running", "glyphicon glyphicon-time") }}">
                            </span>
                            <span class="{{ job.if_status_return("pending", "glyphicon glyphicon-pause") }}">
                            </span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning"
                                 role="progressbar"
                                 style="width:{{ 100 * (job.delayed() / stage.since_ready()) }}%">
                                <span>{{ (job.delayed() / 60) |int }} mins </span>
                            </div>

                            <div class="progress-bar {{ job.if_status_return("success", "progress-bar-success", job.if_status_return("failed", "progress-bar-danger", "progress-bar-info")) }} {{ job.if_status_return("running", "progress-bar-striped active") }}"
                                 role="progressbar"
                                 style="width:{{ 100 * (job.duration() / stage.since_ready()) }}%">
                                <span>{{ (job.duration() / 60) |int }} mins </span>
                            </div>

                        </div>
                    {% endfor %}
                    </div>
                </div>
            </td>
            {% endfor %}
        </tr>
    </table>

{% endblock %}